body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-logo .logo-part {
    color: #2E2F42;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color: #2E2F42;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: #404BBF;
}

.contact {
    font-style: normal;
}

.contact-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 2%;
        color: #434455;
}

.page-footer {
    background-color: #2E2F42;
}

.footer-logo .logo-part {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
}

.section-solutions {
    background-color: #2E2F42;
}

.header-solutions {
        font-weight: 700;
        font-size: 56px;
        line-height: 3.75;
        letter-spacing: 2%;
        text-align: center;
        color: #FFFFFF;
}

.button-solutions {
    width: 169;
    height: 56;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 4%;
    vertical-align: middle;
    background-color: #4D5AE5;
    color: #FFFFFF;
}

.button-solutions:hover,
.button-solutions:focus {
    background-color: #404BBF;
        color: #FFFFFF;
}

.features-strategy {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2%;
}

.features-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 2%;
        color: #434455;
}

.header-team {
        font-weight: 700;
        font-size: 36px;
        line-height: 2.5;
        letter-spacing: 2%;
        text-align: center;
        color: #2E2F42;
}

.section-team {
    background-color: #F4F4FD;
}

.team-fio {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 2%;
        text-align: center;
        color: #2E2F42;
}

.team-work {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 2%;
        text-align: center;
        color: #2E2F42;
}

.team-item {
    background-color: #FFFFFF;
}

.header-port {
        font-weight: 700;
        font-size: 36px;
        line-height: 2.5;
        letter-spacing: 2%;
        text-align: center;
        color: #2E2F42;
}

.port-desk {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 2%;
        color: #2E2F42;
}

.port-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 2%;
        color: #434455;
}